.login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginContainer {
	width: 300px;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.loginContainer form input {
	display: block;
	margin: 10px 0;
	outline: none;
	padding: 5px;
	width: 250px;
}
.submit-btn {
	padding: 10px;
	border: none;
	background-color: rgba(0, 0, 255, 0.459);
	margin: 10px 0;
	color: white;
	display: block;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s ease;
}
.submit-btn:hover {
	color: rgba(0, 0, 255, 0.459);
	background-color: white;
}
